.btn-ledoff {
    color: #ffffff;
    background-color: #404040;
    border-color: #000000;
}

.btn-ledoff:hover,
.btn-ledoff:focus,
.btn-ledoff:active,
.btn-ledoff.active {
    color: #ffffff;
    background-color: #202020;
    border-color: #000000;
}

.btn-ledred {
    color: #000000;
    background-color: #aa0a00;
    border-color: #000000;
}

.btn-ledred:hover,
.btn-ledred:focus,
.btn-ledred:active,
.btn-ledred.active {
    color: #000000;
    background-color: #d40c00;
    border-color: #000000;
}

.btn-ledgreen {
    color: #000000;
    background-color: #289a23;
    border-color: #000000;
}

.btn-ledgreen:hover,
.btn-ledgreen:focus,
.btn-ledgreen:active,
.btn-ledgreen.active {
    color: #000000;
    background-color: #32c12c;
    border-color: #000000;
}

.btn-ledyellow {
    color: #000000;
    background-color: #cca400;
    border-color: #000000;
}

.btn-ledyellow:hover,
.btn-ledyellow:focus,
.btn-ledyellow:active,
.btn-ledyellow.active {
    color: #000000;
    background-color: #ffcd00;
    border-color: #000000;
}

.btn-ledblue {
    color: #000000;
    background-color: #4358cc;
    border-color: #000000;
}

.btn-ledblue:hover,
.btn-ledblue:focus,
.btn-ledblue:active,
.btn-ledblue.active {
    color: #ffffff;
    background-color: #526eff;
    border-color: #000000;
}

.btn-ledpurple {
    color: #000000;
    background-color: #663fa1;
    border-color: #000000;
}

.btn-ledpurple:hover,
.btn-ledpurple:focus,
.btn-ledpurple:active,
.btn-ledpurple.active {
    color: #000000;
    background-color: #7f4fc9;
    border-color: #000000;
}

.btn-ledturquoise {
    color: #000000;
    background-color: #0096ae;
    border-color: #000000;
}

.btn-ledturquoise:hover,
.btn-ledturquoise:focus,
.btn-ledturquoise:active,
.btn-ledturquoise.active {
    color: #000000;
    background-color: #00bcd9;
    border-color: #000000;
}

.btn-ledwhite {
    color: #000000;
    background-color: #c0c0c0;
    border-color: #000000;
}

.btn-ledwhite:hover,
.btn-ledwhite:focus,
.btn-ledwhite:active,
.btn-ledwhite.active {
    color: #000000;
    background-color: #f0f0f0;
    border-color: #000000;
}