*.suo
*.user
*.ncb

[Dd]ebug/
[Dd]ebug-Xenium/
[Dd]ebug-Xecuter/
[Dd]ebug-Aladdin/
[Dd]ebug-Dummy/
[Dd]ebugPublic/
[Rr]elease/
[Rr]elease-Xenium/
[Rr]elease-Xecuter/
[Rr]elease-Aladdin/
[Rr]elease-Dummy/
[Rr]eleases/

